extends ../layouts/standard.pug
include ../components/page-header.pug
include ../components/usage-code-panels.pug
include ../components/working-examples-list.pug
include ../components/cta-bar.pug

block config
  - var title = 'Docs'
  - var description = 'Simple and painless API.'
  - var keywords = 'ab, test, web experiment, docs, documentation, easy to use'

block content
  +page-header-small('Simple and painless API.', 'See how to use')
  section.section-usage.section-secondary.section-angled
    .gg-box
      .gg-row
        .gg-col-12
            h1.section-title How to Use
      .gg-row
        .gg-col-8.gg-hof-2
          +usage-code-panels
  section.section-working-examples.section-secondary
    .gg-box
      .gg-row
        .gg-col-12
            h1.section-title Working A/B Test Examples
    .gg-box
      .gg-row.gg-vof-5
        .gg-col-8.gg-hof-2
          p.
            If you are considering to start using Abxtracted, we have some 
            great working examples besides our documentation page:
          +working-examples-list()
          p
            != 'If you have never heard about Abxtracted, read why we have decided to build a <a href="https://medium.com/abxtracted/introducing-abxtracted-6d060c276380" target="_blank">simpler and painless way to make trustable A/B tests</a>.'
          p
            != 'Have any question, please, let us know dropping us a <a href="/contact">message</a>'
            
  +cta-bar('Increase your conversion rates.')
