extends ../layouts/standard.pug
include ../components/page-header.pug
include ../components/cta-bar.pug

block config
  - var title = 'Home'
  - var description = 'Get experiments complexity abstracted and make your AB tests statistically trustable.'
  - var keywords = 'ab, test, web experiment, control, hypothesis, statistics, trustuble'

block content
  +page-header('Get experiments complexity abstracted and make your AB tests trustable.', 'See the benefits')
  section.section-home-benefits
    .gg-box
      .gg-row
        .gg-col-12
          h1.section-title Benefits
          ul.list-vectors
            li
              .list-vectors-graph-container
                .list-vectors-graph.list-vectors-graph-machine
              .list-vectors-text
                h2 Let the complexity with us.
                p.
                  When you take care about statistics calculations by yourself, 
                  you waste time worrying about something that has nothing to 
                  do with your real business. Let this complexity with us and 
                  focus on getting your conversion higher.
            li
              .list-vectors-graph-container
                .list-vectors-graph.list-vectors-graph-experiments
              .list-vectors-text
                h2 Get trustable results.
                p.
                  When you take the risk for statistical calculations, you 
                  might be forgetting critical aspects that end up leading you 
                  to wrong decisions. We take care about all of this and what 
                  you get is a trustable and crystal clear report for every 
                  experiment you do.
            li
              .list-vectors-graph-container
                .list-vectors-graph.list-vectors-graph-gift
              .list-vectors-text
                h2 No commitment. Try it for free.
                p.
                  Still not sure about the amount of time that your team can 
                  save? Give it a try. While in Beta, it's completely free. 
                  You have nothing to lose, and we guarantee you are going 
                  to like it.
  +cta-bar('Take your AB tests seriously.')
