extends ../layouts/standard.pug
include ../components/page-header.pug
include ../components/cta-bar.pug

block config
  - var title = 'Home'
  - var description = 'Abstract away complex statistics and make your A/B tests trustable.'
  - var keywords = 'ab, test, web experiment, control, hypothesis, statistics, trustuble'

block content
  +page-header('Abstract away complex statistics and make your A/B tests trustable.', 'See the benefits')
  section.section-home-why.section-secondary.section-angled
    .gg-box
      .gg-row
        .gg-col-12
          h1.section-title Why
      .gg-row.gg-vof-5
        .gg-col-6.gg-hof-3
          p.
            We believe that any company in the world should be able to make 
            trustable A/B tests through a simple and painless API.
  section.section-home-benefits.section-secondary
    .gg-box
      .gg-row
        .gg-col-12
          h1.section-title Benefits
          ul.list-vectors
            li
              .list-vectors-graph-container
                .list-vectors-graph.list-vectors-graph-machine
              .list-vectors-text-container
                .list-vectors-text
                  h2 Leave the complexity to us.
                  p.
                    When you do statistical calculations yourself, you waste 
                    time worrying about math and ignore your real business 
                    challenges. Leave the complexity to us and focus on 
                    getting your conversion higher.
            li
              .list-vectors-graph-container
                .list-vectors-graph.list-vectors-graph-experiments
              .list-vectors-text-container
                .list-vectors-text
                  h2 Get trustable results.
                  p.
                    When doing your own statistical calculations, you run the 
                    risk of forgetting critical concepts and reaching the 
                    wrong conclusions. We take care of all the math, and you 
                    get trustable and crystal clear reports for every 
                    experiment you do.
            li
              .list-vectors-graph-container
                .list-vectors-graph.list-vectors-graph-gift
              .list-vectors-text-container
                .list-vectors-text
                  h2 No commitment. Try it for free.
                  p.
                    Still not sure about the amount of time that your team can 
                    save? Give it a try. While in Beta, it's completely free. 
                    You have nothing to lose, and we are sure you are going 
                    to like it.
  +cta-bar('Take your A/B tests seriously.')
