extends ../layouts/standard.pug
include ../components/page-header.pug

block config
  - var title = 'Privacy'
  - var description = 'Your privacy is critically important to us.'
  - var keywords = 'privacy, policy, abxtracted'

block content
  +page-header-minimal-small('Your privacy is critically important to us.')
  section.section-secondary.section-angled
    .section-privacy-content
      .gg-box
        .gg-row
          .gg-col-12
              h1.section-title Privacy Policy
        .gg-row
          .gg-col-12
            h2 Principles
            ul
              li.
                We don't ask you for personal information unless we truly need it. 
                (We can't stand services that ask you for things like your gender 
                or income level for no apparent reason.)
              li.
                We don't share your personal information with anyone except to 
                comply with the law, develop our products, or protect our rights.
              li.
                We don't store personal information on our servers unless 
                required for the ongoing operation of one of our services.
              li.
                We aim to make it as simple as possible for you to control 
                what's visible to the public, seen by search engines, kept 
                private, and permanently deleted.
            p.
              This privacy policy explains how we collect, use and disclose 
              information about you when you use the services provided by 
              Abxtracted ("we", "us" or "our") via https://abxtracted.com (the 
              "Site") (collectively, the "Service").
            p.
              Abxtracted operates abxtracted.com. It is Abxtracted's policy to 
              respect your privacy regarding any information we may collect 
              while operating our websites.
        .gg-row
          .gg-col-12
            h2 Website Visitors
            p.
              Like most website operators, Abxtracted collects 
              non-personally-identifying information of the sort that web 
              browsers and servers typically make available, such as the 
              browser type, language preference, referring site, and the date 
              and time of each visitor request. Abxtracted's purpose in 
              collecting non-personally identifying information is to better 
              understand how Abxtracted's visitors use its website. From time 
              to time, Abxtracted may release non-personally-identifying 
              information in the aggregate, e.g., by publishing a report on 
              trends in the usage of its website.
            p.
              Abxtracted also collects potentially personally-identifying 
              information like Internet Protocol (IP) addresses for logged in 
              users. Abxtracted only discloses logged in user and commenter IP 
              addresses under the same circumstances that it uses and 
              discloses personally-identifying information as described below.
        .gg-row
          .gg-col-12
            h2 Gathering of Personally-Identifying Information
            p.
              Certain visitors to Abxtracted choose to interact with it in ways 
              that require Abxtracted to gather personally-identifying 
              information. The amount and type of information that Abxtracted 
              gathers depends on the nature of the interaction. For example, 
              we ask visitors who log in to provide access to bascic Google ID
              information (name and email address).
            p.
              Abxtracted collects such information only insofar as is necessary 
              or appropriate to fulfill the purpose of the visitor's 
              interaction with Abxtracted. Abxtracted does not disclose 
              personally-identifying information other than as described below.
              And visitors can always refuse to supply personally-identifying 
              information, with the caveat that it may prevent them from 
              engaging in certain website-related activities.
        .gg-row
          .gg-col-12
            h2 Aggregated Statistics
            p.
              Abxtracted may collect statistics about the behavior of visitors 
              to its websites. For instance, Abxtracted may monitor the most 
              liked and viewed entries. Abxtracted may display this information 
              publicly or provide it to others. However, Abxtracted does not 
              disclose personally-identifying information other than as 
              described below.
        .gg-row
          .gg-col-12
            h2 Protection of Certain Personally-Identifying Information
            p.
              Abxtracted discloses potentially personally-identifying and 
              personally-identifying information only to those of its employees, 
              contractors and affiliated organizations that (i) need to know 
              that information in order to process it on Abxtracted's behalf or 
              to provide services available at Abxtracted's website, and (ii) 
              that have agreed not to disclose it to others. Some of those 
              employees, contractors and affiliated organizations may be 
              located outside of your home country; by using Abxtracted's 
              websites, you consent to the transfer of such information to them.
            p.
              Abxtracted will not rent or sell potentially personally-identifying 
              and personally-identifying information to anyone. Other than to 
              its employees, contractors and affiliated organizations, as 
              described above, Abxtracted discloses potentially 
              personally-identifying and personally-identifying information 
              only in response to a subpoena, court order or other governmental 
              request, or when Abxtracted believes in good faith that 
              disclosure is reasonably necessary to protect the property or 
              rights of Abxtracted, third parties or the public at large.
            p.
              If you are a registered user of an Abxtracted website and have 
              supplied your email address, Abxtracted may occasionally send you 
              an email to tell you about new features, solicit your feedback, 
              or just keep you up to date with what's going on with Abxtracted 
              and our products. We primarily use our various product blogs to 
              communicate this type of information, so we expect to keep this 
              type of email to a minimum. If you send us a request 
              (via one of our feedback mechanisms), we reserve the right to 
              publish it in order to help us clarify or respond to your 
              request or to help us support other users. Abxtracted takes all 
              measures reasonably necessary to protect against the 
              unauthorized access, use, alteration or destruction of 
              potentially personally-identifying and personally-identifying 
              information.
        .gg-row
          .gg-col-12
            h2 Cookies
            p.
              A cookie is a string of information that a website stores on a 
              visitor's computer, and that the visitor's browser provides to 
              the website each time the visitor returns. Abxtracted uses cookies 
              to help Abxtracted identify and track visitors, their usage of 
              Abxtracted website, and their website access preferences. 
              Abxtracted visitors who do not wish to have cookies placed on 
              their computers should set their browsers to refuse cookies 
              before using Abxtracted's websites, with the drawback that 
              certain features of Abxtracted's websites may not function 
              properly without the aid of cookies.
        .gg-row
          .gg-col-12
            h2 Business Transfers
            p.
              If Abxtracted, or substantially all of its assets, were acquired, 
              or in the unlikely event that Abxtracted goes out of business or 
              enters bankruptcy, user information would be one of the assets 
              that is transferred or acquired by a third party. You acknowledge 
              that such transfers may occur, and that any acquirer of 
              Abxtracted may continue to use your personal information as set 
              forth in this policy.
        .gg-row
          .gg-col-12
            h2 Promotional Communications
            p.
              You may opt out of receiving promotional emails or text messages 
              from Abxtracted by following the instructions in those emails or 
              text messages. If you opt out, we may still send you 
              non-promotional communications, such as those about your 
              account or our ongoing business relations.
        .gg-row
          .gg-col-12
            h2 Contact Us
            p
              != 'If you have any questions about this Privacy Policy, please send us a <a href="/contact">message</a>'
        .gg-row
          .gg-col-12
            h2 Privacy Policy Changes
            p.
              Although most changes are likely to be minor, Abxtracted may 
              change its Privacy Policy from time to time, and in Abxtracted's 
              sole discretion. Abxtracted encourages visitors to frequently 
              check this page for any changes to its Privacy Policy. Your 
              continued use of this site after any change in this 
              Privacy Policy will constitute your acceptance of such change.
        .gg-row
          .gg-col-12              
              p.
                Privacy Policy is based on Creative Commons ShareAlike version 
                from Automattic.
