@require '_variables'
@require '_mixins'

footer
  padding 25px 0
  color $color-white
  p
    float left
    margin 0
    width 50%
    &:first-child
      opacity 0.5
    &:not(:first-child)
      text-align right

+breakpoint('xs')
  footer
    p
      width 100%
      text-align center
      &:not(:first-child)
        margin-top 10px
        text-align center
