@require '_mixins'

$list-vector-graph-height = 210px

.list-vectors
  display block
  li
    margin-top 50px
    clearfix()
    &:nth-child(even)
      .list-vectors-text
        padding-left 0
      .list-vectors-graph-container
        float right

.list-vectors-graph-container,
.list-vectors-text-container
  float left
  width 50%
  min-height 1px
  height $list-vector-graph-height
  box-sizing(border-box)

.list-vectors-graph
  background-position center center
  height $list-vector-graph-height
  background-repeat no-repeat
  &.list-vectors-graph-machine
    background-image('vector-machine.svg')
  &.list-vectors-graph-experiments
    background-image('vector-experiments.svg')
  &.list-vectors-graph-gift
    background-image('vector-gift.svg')

.list-vectors-text
  position relative
  top 50%
  transform('translate(0,-50%)')

+breakpoint('xs')
  .list-vectors-graph-container,
  .list-vectors-text-container
    width 100%
  .list-vectors
    li
      margin-top 25px
