@require '_mixins'

.logo
  position relative
  padding-right 40px
  width 135px
  height 15px
  background-repeat no-repeat
  background-image('logo-negative.svg')
  box-sizing(border-box)
  &:after
    position absolute
    content ' '
    width 33px
    height 10px
    top 50%
    right 0
    background-repeat no-repeat
    background-image('tag-beta.svg')
    transform('translate(0,-50%)')
