include simple-subscription-form.pug

mixin cta-bar(title)
  .cta-bar-container
    .cta-bar(data-js="cta-bar")
      .cta-bar-title-container
        h1.cta-bar-title= title
        +simple-subscription-form()
