mixin footer
  footer
    .gg-box
      .gg-row
        .gg-col-12
          p.
            ©2017 Abxtracted. All rights reserved.
          p
            != '<a href="/privacy">Privacy Policy</a> ・ <a href="https://medium.com/abxtracted" target="_blank">Blog</a>  ・ <a href="https://twitter.com/abxtracted" target="_blank">Twitter</a>'
