mixin footer
  footer(data-js="footer")
    .gg-box
      .gg-row
        .gg-col-12
          p.
            ©2017 Abxtracted. All rights reserved.
          ul
            li
              a(href="javascript:void(0)" data-footer-link="status" data-url="https://status.abxtracted.com/") Status
            li
              a(href="javascript:void(0)" data-footer-link="privacy" data-url="privacy") Privacy Policy
            li
              a(href="javascript:void(0)" data-footer-link="twitter" data-url="https://twitter.com/abxtracted") Twitter
            li
              a(href="javascript:void(0)" data-footer-link="blog" data-url="https://medium.com/abxtracted") Blog
