include simple-subscription-form.pug

mixin page-header-minimal(title, cssClass)
  section.page-header(class=cssClass)
    h1= title
    
mixin page-header-minimal-small(title)
  +page-header-minimal(title, 'page-header-small')

mixin page-header(title, cssClass)
  section.page-header(data-js="page-header" class=cssClass)
    h1= title
    +simple-subscription-form()

mixin page-header-small(title)
  +page-header(title, 'page-header-small')
