mixin working-examples-list()
  ul(data-js="working-examples-list")
    li
      a(href="javascript:void(0)" data-working-list-item-link="vanilla-js" data-url="https://jsfiddle.net/rcamargo/dveasaxj/") A/B Test with Abxtracted + Vanilla Javascript
    li
      a(href="javascript:void(0)" data-working-list-item-link="jquery" data-url="https://jsfiddle.net/rcamargo/b5rubwcs/") A/B Test with Abxtracted + jQuery
